<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>img - drag - drop</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

  <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script><% }); %>

</head>

<body>
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->  

  <nav class="navba navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href ui-sref="home">Image drag & drop</a>
      </div>
      <div class="navbar-collapse collapse">
      </div>
    </div>
  </nav>

  <div id="content-wrapper" class="container">
    <div class="alert alert-danger hidden" role="alert"></div>

    <div id="img-list-container" class="img-list-widget">
      <div class="row">
        <div class="col-md-7"><ul class="images jumbotron"></ul></div>
        <div class="col-md-5">
          <div class="row">
            <div class="robot col-md-12">
              <img class="waiting " src="assets/img/robot-hungry-open.png" />
              <img class="eating hidden" src="assets/img/robot-hungry-close.png" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul class="list"></ul>
            </div>          
          </div>
        </div>
      </div>
      
      
    </div>
  </div> 

  <footer class="footer">
    <div class="container">
      <div class="footer-inner">
      </div>
    </div>
  </footer>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>  
</body>
</html>