.img-list-widget {
  .robot {
    margin-bottom: 20px;
    text-align: center;

    img {
      width: 300px;
    }
  }
  
  ul.list, ul.images {
    list-style: none;
    padding: 0px;
  }

  ul.list {
    li {
      padding: 5px;
      margin: 0px;

      a.remove {
        display: inline-block;
        margin-right: 15px;
        cursor: pointer;
      }  
    }
  }

  ul.images {
    margin-bottom: 20px;
    min-height: 350px;
    border: dashed;

    li {
      display: inline-block;
      margin: 8px 15px 8px 0px;
      padding: 4px;
      width: 152px;
      height: 152px;

      img {
        width: 152px;
        border: 2px solid #666666;
        -webkit-border-radius: 10px;
        -ms-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        cursor: move;     
      }
    }
  }

}